<nav class="navbar navbar-inverse">
<ul class="nav nav-pills">
  <li role="presentation"><%=link_to 'Strona Główna', root_path,style: 'background-color: #A8CD1B!important; color:#FFFFFF;' %></li>
   <li role="presentation"><%=link_to 'About', home_about_path ,style:'background-color: #A8CD1B!important; color:#FFFFFF;'%></li>
</ul>
</nav>