<nav class="navbar navbar-inverse" style="font-weight: bold;margin: 10%;">
<ul class="nav nav-pills" >
  <li class="nav nav-pills"><div style="background-color: #A8CD1B; border: 0;  margin: 16%;" class="alert alert-info" role="alert"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></div></li>
  <li role="presentation"><%=link_to 'Strona Główna', root_path,style: 'margin: 10%;background-color: #A8CD1B!important; color:#FFFFFF;' %></li>
   <li role="presentation"><%=link_to 'About', home_about_path ,style:' margin: 15%; background-color: #A8CD1B!important; color:#FFFFFF;'%></li>
</ul>
</nav>