<div class="container" style="width: 900px; margin: 0 auto;">>
	<div class="logo" style="color:"><h1 class="icon" style="color: skyblue">Książki wspomagające rozwój</h1></div>
	<div class="menu"></div>
	<div class="nav"></div>
	<div class="content"></div>
	<div class="sidebar"></div>
	<div class="footer"></div>
</div>