<div class="list-group" style="background-color: #A8CD1B;">
  <a href="#" class="list-group-item">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>
<!--
<div class="container" style="width: 900px; height: auto; margin: 0 auto;">
	<div class="logo" style="color:"><h1 class="icon" style="color: skyblue">About page</h1></div>
	<div class="menu"></div>
	<div class="nav"></div>
	<div class="content"></div>
	<div class="sidebar"></div>
	<div class="footer"></div>
</div> -->
