

<div class="jumbotron">
  <h1 style="color: #A8CD1B;">Hello, world!</h1><br><br>
  
  <!--button with link in rails-->
  <p><a class="btn btn-primary btn-lg" role="button" <%=link_to 'About', home_about_path%></a></p>

</div>