@mixin linx ($link, $visit, $hover, $active) {
  a {transition: all 0.5s ease-in-out;

    color: $link;
    &:visited {
      color: $visit;
      text-decoration: none;
    }
    &:hover {
      color: $hover;
      text-decoration: none;   
    }
    &:active {
      color: $active;
      text-decoration: none;
    }
  }
}
      //          $link, $visit, $hover, $active
@include linx($tertiary-color!important, $tertiary-color!important,$secondary-color!important, $tertiary-color!important);
