// _nav.scss

.navbar-default{
	background-color: $primary-color;
	border: solid 2px black;
	border-radius: 5vw;
	line-height: 10vw;
	overflow:hidden;


}
.navbar-brand {
	background: url('logo.png') ;
	width: 100px;
	display: flex;
	justify-content: center;     // vertical align
	align-items: center;   
	margin-top: 15px
}

.navbar-text{
	letter-spacing: 0.1em;
	text-shadow: 1px 1px #F0F3F5;
	//#090909;
	font-size: 30px;
	font-family: 'Pirata One','Verdana', sans-serif;
	//					$link, $visit, $hover, $active
	@import 'link-colors';
}
.navbar-toggle{
	float: left;
	background-color: $primary-color!important;
	border: solid 2px $tertiary-color!important;
	border-radius: 10px;
	margin: 1em 0 0 1em;

}
.navbar-default .navbar-toggle .icon-bar {
	background-color: $tertiary-color!important; /* Changes regular toggle color */
}
.navbar-default .navbar-toggle .icon-bar:hover {
	background-color: $tertiary-color!important; /* Changes toggle color on hover */
}
