@mixin mediaq($size){
@media only screen and (max-width: 768px) {
  font-size: $size;
}}

.simple-calendar {
  margin: 0 auto;
  margin-top: 1em;
  width: 450px;
  padding: 1em 1em 0.5em 1em;
  font-size: 26px;
  color: $secondary-color;
  @include mediaq(16px);
  @media only screen and (max-width: 768px) {
  width: 100%;
}
  .day {}

  
  .wday-0, .wday-1, .wday-2, .wday-3, .wday-4, .wday-5, .wday-6 {
    font-size: 18px;
    font-weight: 600;
    @include mediaq(12px);
  }
  .calendar-title{
    font-size:30px;
    font-family: 'Pirata One','Verdana', sans-serif;
  }
  .calendar-nav{
    font-weight: 600;
    padding: 0 20px 0 20px;
    text-shadow: 2px 2px #BF9D37;
 
  }
  .today {
    background-color: $primary-color;
    color: $tertiary-color;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {color: #404040;}
  .next-month {@extend .prev-month}
  .current-month {}

  .has-events {}

  .thead-color
  {
    font-family: 'Lobster Two','Verdana', cursive;
    color:$primary-color;
  }

  #cal-div{

  }
  #centerofmass{
    text-align: center;
    margin: 0 auto;
    padding: 0 0 0 0;
  }
  th{
    text-align: center;
  }
  td{
    border-radius: 50%;
  }
}
