.simple-calendar {
  margin: 0 auto;
  margin-top: 1em;
  width: 450px;
  padding: 1em 1em 0.5em 1em;
  font-size: 26px;
  color: $secondary-color;
  border: solid 1px;
  border-radius: 2em;
    
  .day {}

  
  .wday-0, .wday-1, .wday-2, .wday-3, .wday-4, .wday-5, .wday-6 {
  font-size: 18px;
  font-weight: 600;
  
}
  
  .today {
  background-color: $primary-color;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {color: #404040;}
  .next-month {@extend .prev-month}
  .current-month {}

  .has-events {}

.thead-color
{
font-family: 'Lobster Two','Verdana', cursive;
color:$primary-color;
}

#cal-div{
  
}
#centerofmass{
  text-align: center;
  margin: 0 auto;
  padding: 0 0 0 0;
}
th{
  text-align: center;
}
td{
  border-radius: 50%;
}
}

// Variable
$primary-color: hotpink;

// Mixin
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

.my-element {
    color: $primary-color;
    width: 100%;
    overflow: hidden;
}

.my-other-element {
    @include border-radius(5px);
}