$primary-color: #38C0FF; //blue
$secondary-color: #ededed; //grey
$tertiary-color: #32CD32; //orange
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import "link-colors";
@import "nav";
@import "simple-calendar";
img { max-height:95vh; }
body{
	font-size: 16px;
	background-image: url('dark.png');
	font-family: 'Oswald', sans-serif;
	margin-top: 5em;
}

h1{
	color: white; 
	font-size: 70px;
	letter-spacing: 0.2em;
	text-shadow: 2px 2px grey;
}




